*{

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 40px;
border-radius: 20px;
}



body {

padding: 20px;
margin-top: 10px;
}
.x{

margin-top: 15px;
background-color: aquamarine;

}